In [1]:
import pandas as pd
import re
import numpy as np
from scipy.stats import zscore

In [2]:
data_path = "SoftwareEngineer_cleaned.csv"
df = pd.read_csv(data_path)
print(df.shape)
df.head()

(34012, 12)

,title,level,company,yearsofexperience,totalyearlycompensation,gender,Doctorate_Degree,Masters_Degree,Bachelors_Degree,tag,state,city
0,Software Engineer,SE 2,eBay,5.0,100000,NaN,0,0,0,NaN,CA,San Francisco
1,Software Engineer,60,Microsoft,5.0,157000,NaN,0,0,0,NaN,CA,Mountain View
2,Software Engineer,63,Microsoft,8.5,208000,NaN,0,0,0,NaN,WA,Seattle
3,Software Engineer,62,Microsoft,4.0,156000,NaN,0,0,0,NaN,WA,Seattle
4,Software Engineer,59,Microsoft,3.0,120000,NaN,0,0,0,NaN,WA,Redmond

# Normalization

The goal of normalization is to transform features to be on a similar scale. This improves the performance and training stability of the model.

Perform z-score normalization method. This process is necessary so that the machine learning models treat all variables equally, and a variable is not considered more important because it has a higher range of values

In [3]:
df['Totalyearlycopensation_Zscore_Normalize'] = zscore(df['totalyearlycompensation'])

display(df)

,title,level,company,yearsofexperience,totalyearlycompensation,gender,Doctorate_Degree,Masters_Degree,Bachelors_Degree,tag,state,city,Totalyearlycopensation_Zscore_Normalize
0,Software Engineer,SE 2,eBay,5.0,100000,NaN,0,0,0,NaN,CA,San Francisco,-1.097077
1,Software Engineer,60,Microsoft,5.0,157000,NaN,0,0,0,NaN,CA,Mountain View,-0.595409
2,Software Engineer,63,Microsoft,8.5,208000,NaN,0,0,0,NaN,WA,Seattle,-0.146549
3,Software Engineer,62,Microsoft,4.0,156000,NaN,0,0,0,NaN,WA,Seattle,-0.604211
4,Software Engineer,59,Microsoft,3.0,120000,NaN,0,0,0,NaN,WA,Redmond,-0.921053
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34007,Software Engineer,T4,Google,10.0,327000,NaN,0,0,0,Distributed Systems (Back-End),WA,Seattle,0.900791
34008,Software Engineer,62,Microsoft,2.0,237000,NaN,0,0,0,Full Stack,WA,Redmond,0.108685
34009,Software Engineer,63,MSFT,14.0,220000,NaN,0,0,0,Full Stack,WA,Seattle,-0.040935
34010,Software Engineer,Lead MTS,Salesforce,8.0,280000,NaN,0,0,0,iOS,CA,San Francisco,0.487135
34011,Software Engineer,ict3,apple,0.0,200000,Male,0,0,0,ML / AI,CA,Sunnyvale,-0.216959